.env
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db
*.egg-info/
.DS_Store
.mypy_cache/
.pytest_cache/
.vscode/
.idea/
*.zip
*.tar.gz
*.egg
*.bak
*.swp
*.swo
*.orig
*.tmp
coverage*
htmlcov/
dist/
build/
.eggs/
.envrc
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

assignment-*.json

# End of Python .gitignore